body {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
    height: 100vh;
}

section {
    text-align: center;
    background-color: white;
    min-height: 246px;
    width: 460px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.top {
    margin-top: 50px;
    font-family: Arial;
}

input {
    width: 314px;
    margin-right: 10px;
    height: 33px;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding-left: 10px;
}

.add-tasks {
    width: 78px;
    height: 34px;
    background-color: rgb(44, 62, 80);
    border-radius: 7px;
    border: none;
    color: white;
}

.last {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

.hide-tasks {
    width: 78px;
    height: 34px;
    background-color: rgb(189, 195, 199);
    border-radius: 7px;
    border: none;
    color: black;
}

.show-tasks {
    width: 78px;
    height: 34px;
    background-color: rgb(189, 195, 199);
    border-radius: 7px;
    border: none;
    color: black;
}

.hide-tasks:hover,
.show-tasks:hover {
    background-color: rgb(104, 107, 110);
}

.add-tasks:hover {
    background-color: rgb(74, 104, 135);
}

.hide-tasks:active,
.show-tasks:active {
    background-color: rgb(208, 215, 223);
}

.add-tasks:active {
    background-color: rgb(114, 162, 210);
}

.add-tasks,
.hide-tasks,
.show-tasks {
    transition: background-color 0.7s;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    padding: 0px;
    width: 443px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 43px;
    margin-left: 20px;
    padding-left: 10px;
    background-color: rgb(236, 240, 241);
    border-radius: 10px;
    font-family: Arial;
    transition: background-color 0.5s;
    margin-bottom: 10px;
}

.yes-no {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.correct,
.error {
    background-color: rgb(231, 76, 60);
    color: white;
    border: none;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.5s;
    margin-right: 10px;
}

.correct:hover,
.error:hover {
    background-color: rgb(133, 44, 34);
}

.correct:active,
.error:active {
    background-color: rgb(231, 76, 60);
}
.done{
    text-decoration: line-through;
}
.done-li{
        background-color: lightgreen;
        transition: background-color 0.5s ease-in-out;
}